#hero-section{
  background-image: url("./galaxy.webp");
  background-size: cover;
  /* border:2px solid red; */
  padding-top: 10px;
  padding-bottom: 40px;
}

body{
  margin:0;
  color: #7e9cc5;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size:larger;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
 
button{
  background-color: white;
  padding:6px 12px;
  border: none;
  font-family: inherit;
  color: #7e9cc5;
  font-weight: bold;
}

.underline{
  /* text-decoration: underline; */
  border-bottom: 5px solid white;
}

#main-logo{
  width:100px;
}

h1{
  text-shadow: 0 0 4px black;
}